body {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;
}

.image-container:hover .overlay {
    opacity: 1;
}

.favorite-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.favorite-icon {
    color: gold; 
    font-size: 24px; 
}
